{% extends "base.html" %}
{% load static %}

{% block title %}ユーザ: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}のプロフィール</h2>
      <p>以下の項目に関する情報を編集できます：</p>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">ユーザ名</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">メール</a>
    <!--<a class="btn btn-primary" href="{% url 'users:rater_survey' %}">アンケート</a>-->
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
