{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
  <div class="row">
    <div class="content-rating col-md-12">

      <div class="m-x-auto" style="width: 100%;">
        <a class="btn btn-primary" type="button" target="_blank" href="{% url 'ratings:export_table' %}">View all ratings</a>
        <a class="btn btn-primary" type="button" target="_blank" href="{% url 'users:export_table' %}">View all raters</a>
        <a class="btn btn-primary" type="button" target="_blank" href="{% url 'audio:export_table' %}">View all audio</a>
        <a class="btn btn-primary" type="button" target="_blank" href="{% url 'audio:reader_export_table' %}">View all readers</a>
        <a class="btn btn-primary" type="button" target="_blank" href="{% url 'audio:sentence_export_table' %}">View all sentences</a>
      </div>

      {% for mdpref_results, c5ml_results, svg, reader_ranks, rater_ranks, thurstone_results in data %}
        <h4>Thurstone Case V (c5ml)-based sentence biplot</h4>
        <img src="{{ MEDIA_URL }}{{ c5ml_sentence_biplot_svg }}" />

        <h4>Thurstone Case V (c5ml)-based rater biplot</h4>
        <img src="{{ MEDIA_URL }}{{ c5ml_rater_biplot_svg }}" />

        <div class="col-sm-6">
          <h4>Thurstone results for sentence id {{ forloop.counter }}</h4>
          <div class="card card-block">
            <table class="table table-sm">
              <thead><tr><th>Rank</th><th>Reader</th><th>Score</th></tr></thead>
              <tbody>
                {% for reader, score in thurstone_results %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reader }}</td>
                    <td>{{ score }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <h4>Thurstone Case V results for sentence id {{ forloop.counter }}</h4>
          <div class="card card-block">
            <table class="table table-sm">
              <thead><tr><th>Rank</th><th>Reader</th><th>Score</th></tr></thead>
              <tbody>
                {% for reader, score in c5ml_results %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reader }}</td>
                    <td>{{ score }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      <h4>mdprefml results for sentence id {{ forloop.counter }}</h4>
      <img src="{{ MEDIA_URL }}{{ svg }}" />
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sreader{{ forloop.counter }}" aria-expanded="false" aria-controls="sreader{{ forloop.counter }}">
          Readers ranked by rater
        </button>
      </p>
      <div class="collapse" id="sreader{{ forloop.counter }}">
        <div class="card card-block">
          {{ reader_ranks|safe }}
        </div>
      </div>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#srater{{ forloop.counter }}" aria-expanded="false" aria-controls="srater{{ forloop.counter }}">
          Raters ranked by magnitude
        </button>
      </p>
      <div class="collapse" id="srater{{ forloop.counter }}">
        <div class="card card-block">
          {{ rater_ranks|safe }}
        </div>
      </div>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sresults{{ forloop.counter }}" aria-expanded="false" aria-controls="sresults{{ forloop.counter }}">
          Mdprefml results
        </button>
      </p>
      <div class="collapse" id="sresults{{ forloop.counter }}">
        <div class="card card-block">
          <pre>{{ mdpref_results }}</pre>
        </div>
      </div>
      <p>

      {% endfor %}
    </div>
  </div>
{% else %}
  <p>本システムを利用するのにアカウントの登録が必要です。</p>
{% endif %}
{% endblock content %}
