{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
  <!--<audio id="dummy" src="{{ STATIC_URL }}dummy.mp3" preload="auto"></audio>-->
  <audio id="a" src="{{ MEDIA_URL }}{{ sound_file_a }}" preload="auto"></audio>
  <audio id="b" src="{{ MEDIA_URL }}{{ sound_file_b }}" preload="auto"></audio>

  <div class="row">
    <div class="col-md-12">
      {% if rated == 0 %}

      <p class="p-x-1">開始ボタンをクリックするとA並びにBの音声が流れてきます。より日本人らしく聞こえるほうを選んでください。再生回数は一回のみです。判定したら自動的に次の評価ペアに移ります。再生に問題がありましたら、上記「評価」ボタンをクリックしてください。</p>
      <hr class="m-y-2"/>

      {% else %}

      <p class="text-xs-center">
        <a data-toggle="collapse" href="#collapseExplanation" aria-expanded="false" aria-controls="collapseExplanation">
          説明を表示
        </a>
      </p>
      <div class="collapse" id="collapseExplanation">
        <div class="card card-block">
          開始ボタンをクリックするとA並びにBの音声が流れてきます。より日本人らしく聞こえるほうを選んでください。再生回数は一回のみです。判定したら自動的に次の評価ペアに移ります。再生に問題がありましたら、上記「評価」ボタンをクリックしてください。
        </div>
      </div>

      <progress class="progress progress-info" value="{{ rated_progress }}" max="100">{{ rated }}/{{ rated_goal }}</progress>
      <p class="text-xs-center"><span class="label label-default">{{ rated }}</span>ペア診断済み（ゴール： {{ rated_goal }}）</p>

      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="content-rating text-center text-xs-center center-block col-md-12">
      {% if rated == 0 %}
      <button id="play-button" type="button" class="btn btn-primary btn-lg center-block text-center">ペア評価開始</button>
      {% else %}
      <button id="play-button" type="button" class="btn btn-primary btn-lg center-block text-center autoplay">ペア評価開始</button>
      {% endif %}

      <blockquote class="blockquote">
        <p class="text-primary">{{ sentence_text }}</p>
      </blockquote>

      <div id="rating" class="hide center-block text-center">
        <form action="{% url 'ratings:ratings' %}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="fieldWrapper center-block text-center">
            {{ form.a_gt_b.errors }}
            <label for="{{ form.a_gt_b.id_for_label }}">より日本人らしく聞こえるほうを選んで下さい</label><br />
            <div class="btn-group btn-group-lg center-block text-center" role="group" aria-label="Rating">
              <button id="id_a_gt_b_1" class="btn btn-secondary" name="a_gt_b" type="submit" value="True">Ａが良い</button>
              <button id="id_a_gt_b_2" class="btn btn-secondary" name="a_gt_b" type="submit" value="False">Ｂが良い</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if request.user.is_superuser %}
  <div class="row">
    <div class="content-rating col-md-12">
      <h4>mdprefml results</h4>
      <img src="{{ STATIC_URL }}{{ mdpref_svg }}" />
      <pre>{{ mdpref_results }}</pre>
    </div>
  </div>
  {% endif %}
{% else %}
  <p>本システムを利用するのにアカウントの登録が必要です。</p>
{% endif %}
{% endblock content %}
