{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
  <audio id="dummy" src="{{ STATIC_URL }}dummy.mp3" preload="auto"></audio>
  <audio id="a" src="{{ MEDIA_URL }}{{ sound_file_a }}" preload="auto"></audio>
  <audio id="b" src="{{ MEDIA_URL }}{{ sound_file_b }}" preload="auto"></audio>

  <div class="row">
    <p class="text-xs-center">開始ボタンをクリックするとA並びにBの音声が流れてきます。最後まで聞いて評価を行って下さい。再生回数は一回のみです。判定したら自動的に次の評価ペアに移します。</p>
  </div>
  <div class="row">
    <div class="content-rating text-center text-xs-center center-block">
      <button id="play-button" type="button" class="btn btn-primary btn-lg center-block text-center">ペア評価開始</button>

      <div id="rating" class="hide center-block text-center">
        <form action="{% url 'ratings:ratings' %}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="fieldWrapper center-block text-center">
            {{ form.a_gt_b.errors }}
            <label for="{{ form.a_gt_b.id_for_label }}">発音が良いと思うほうを選んで下さい</label><br />
            <div class="btn-group btn-group-lg center-block text-center" role="group" aria-label="Rating">
              <button id="id_a_gt_b_1" class="btn btn-secondary" name="a_gt_b" type="submit" value="True">Ａが良い</button>
              <button id="id_a_gt_b_2" class="btn btn-secondary" name="a_gt_b" type="submit" value="False">Ｂが良い</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% else %}
  <p>本システムを利用するのにアカウントの登録が必要です。</p>
{% endif %}
{% endblock content %}
